# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr

# tauri
src-tauri/target
src-tauri/gen

# editor / OS
.DS_Store
Thumbs.db
*.local
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

question_business.md